#signup {
    padding: 60px 20px;
    background: #003366;
    color: white;
    text-align: center;

}

.signup-container {
    max-width: 600px;
    margin: 0 auto;
}

#signup h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#signup p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

#signup-form input {
    width: 70%;
    padding: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#signup-form button {
    background: #ff5722;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

#signup-form button:hover {
    background: #e6b4a4;
}


footer {
    background: #032030;
    color: white;
    text-align: center;
    padding: 1rem 0;
}